---
import SectionHeader from "@/components/atoms/SectionHeader";
import UsersList from "@/components/organisms/UsersList/UsersList.tsx";
import UsersStats from "@/components/organisms/UsersStats/UsersStats.tsx";
import DashboardLayout from "@/components/templates/DashboardLayout.astro";
import { UserRole } from "@/shared/utils/enums/role";
import { getSession } from "auth-astro/server";
import type { SessionUser } from "auth.config";

const session = (await getSession(Astro.request)) as SessionUser;
---

<DashboardLayout>
  <div class="space-y-10">
    <SectionHeader description="Administra y supervisa a todos los tutorados del capítulo" />

    <div>
      <UsersStats
        chapterId={session?.user?.chapterId || ""}
        userType={UserRole.TUTEE}
        label="Tutorados Activos"
        iconColor="green"
        client:load
      />
    </div>

    <div>
      <UsersList
        chapterId={session?.user?.chapterId || ""}
        userType="Tutorado"
        title="Lista de Tutorados"
        client:load
      />
    </div>
  </div>
</DashboardLayout>
