---
import SectionHeader from "@/components/atoms/SectionHeader";
import UsersList from "@/components/organisms/UsersList/UsersList.tsx";
import UsersStats from "@/components/organisms/UsersStats/UsersStats.tsx";
import DashboardLayout from "@/components/templates/DashboardLayout.astro";
import { getSession } from "auth-astro/server";
import type { SessionUser } from "auth.config";

const session = (await getSession(Astro.request)) as SessionUser;
---

<DashboardLayout>
  <div class="space-y-10">
    <SectionHeader description="Administra y supervisa a todos los tutores del capítulo" />

    <div>
      <UsersStats
        chapterId={session?.user?.chapterId || ""}
        userType="Tutor"
        label="Tutores Activos"
        iconColor="blue"
        client:load
      />
    </div>

    <div>
      <UsersList chapterId={session?.user?.chapterId || ""} userType="Tutor" title="Lista de Tutores" client:load />
    </div>
  </div>
</DashboardLayout>
