---
import Footer from "@/components/organisms/Footer.astro";
import Header from "@/components/organisms/Header.astro";
import ProfileAlert from "@/components/organisms/ProfileAlert/ProfileAlert.tsx";
import BaseLayout from "./BaseLayout.astro";

interface Props {
  title?: string;
  description?: string;
  image?: string;
  hideHeader?: boolean;
  hideFooter?: boolean;
  showNotCreatedUser?: boolean;
}

const {
  title = "Arquetipo Astro",
  description = "Arquetipo construido con Astro y React",
  image = "https://astro.build/og/astro.jpg",
  hideHeader = false,
  hideFooter = false,
  showNotCreatedUser,
} = Astro.props;
---

<BaseLayout title={title} description={description} image={image}>
  <style slot="head">
    .background {
      background: hsl(var(--background));
      opacity: 1;
      background-image: radial-gradient(hsl(var(--muted)) 1px, transparent 1px);
      background-size: 40px 40px;
      width: 100%;
      height: auto;
      position: relative;
      flex-grow: 1;
    }
  </style>

  <div class="flex items-center flex-col background min-h-screen w-full">
    {!hideHeader && <Header />}

    {
      showNotCreatedUser && (
        <div class="w-full max-w-7xl px-4 pt-4">
          <ProfileAlert client:load />
        </div>
      )
    }

    <main class="w-full max-w-7xl">
      <slot />
      {!hideFooter && <Footer />}
    </main>
  </div>
</BaseLayout>
