---
import Footer from "@/components/organisms/Footer.astro";
import Header from "@/components/organisms/Header.astro";
import ProfileAlert from "@/components/organisms/ProfileAlert/ProfileAlert.tsx";
import { Toaster } from "@/components/ui/toaster";
import BaseLayout from "./BaseLayout.astro";
import type { SessionUser } from "auth.config";
import { getSession } from "auth-astro/server";
import { UserInitializer } from "@/components/organisms/UserInitializer/UserInitializer";

interface Props {
  title?: string;
  description?: string;
  image?: string;
  hideHeader?: boolean;
  hideFooter?: boolean;
  showNotCreatedUser?: boolean;
}

const {
  title = "Arquetipo Astro",
  description = "Arquetipo construido con Astro y React",
  image = "https://astro.build/og/astro.jpg",
  hideHeader = false,
  hideFooter = false,
} = Astro.props;

const session = (await getSession(Astro.request)) as SessionUser;
---

<BaseLayout title={title} description={description} image={image}>
  <style slot="head">
    .background {
      background: hsl(var(--background));
      opacity: 1;
      background-image: radial-gradient(hsl(var(--muted)) 1px, transparent 1px);
      background-size: 40px 40px;
      width: 100%;
      height: auto;
      position: relative;
      flex-grow: 1;
    }
  </style>

  <div class="flex flex-col background min-h-screen w-full">
    <ProfileAlert client:load />

    <UserInitializer user={session?.user} client:load />

    {!hideHeader && <Header />}

    <main class="flex-grow w-full max-w-7xl mx-auto">
      <slot />
    </main>

    {!hideFooter && <Footer />}

    <Toaster client:load />
  </div>
</BaseLayout>
