---
import MainLayout from "@/components/templates/MainLayout.astro";
import HistoryTable from "@/components/organisms/HistoryTable/HistoryTable";
import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);
---

<MainLayout>
  <main class="w-full max-w-7xl pt-8 pb-8 px-4 sm:px-6 lg:px-8">
    <section class="flex flex-col gap-6 w-full max-w-7xl">
      <h1 class="text-3xl font-bold text-foreground">Mis mentorías</h1>
      <div class="space-y-8">
        <HistoryTable
          client:load
          user={session?.user}
          title="Mentorías Activas"
          emptyMessage="No tienes solicitudes ni tutorías activas"
        />
      </div>
    </section>
  </main>
</MainLayout>
