---
import MainLayout from "@/components/templates/MainLayout.astro";
import { getMyRequests } from "@/infrastructure/services/getMyRequests";
import { historyAdapter } from "@/infrastructure/adapters/historyAdapter/historyAdapter";
import HistoryTable from "@/components/organisms/HistoryTable/HistoryTable";

const handleGetMyRequests = async () => {
  try {
    const { data } = await getMyRequests();
    return historyAdapter(data);
  } catch (error) {
    console.error("Error fetching my requests:", error);
    return [];
  }
};

const data = await handleGetMyRequests();

// Si llamo la data desde SSR no necesito el loading
console.log("DATA SERVICE ---->", data);
---

<MainLayout>
  <main class="w-full max-w-7xl pt-8 pb-8 px-4 sm:px-6 lg:px-8">
    <section class="flex flex-col gap-6 w-full max-w-7xl">
      <h1 class="text-3xl font-bold text-foreground">Mis mentorías</h1>
      <div class="space-y-8">
        <HistoryTable
          data={data}
          title="Mentorías Activas"
          isLoading={false}
          emptyMessage="No tienes solicitudes ni tutorías activas"
        />
      </div>
    </section>
  </main>
</MainLayout>
---
