---
import MainLayout from "@/components/templates/MainLayout.astro";
import HistoryTables from "@/components/organisms/HistoryTables/HistoryTables";

const title = "Historial";
---

<MainLayout title={title}>
  <section class="flex flex-col gap-8 w-full">
    <header>
      <h1 class="text-3xl font-bold text-foreground">{title}</h1>
    </header>

    <HistoryTables client:load />
  </section>
</MainLayout>
