---
import { UserCardsGrid } from "@/components/organisms/UserCardsGrid/UserCardsGrid";
import BaseLayout from "@/components/templates/BaseLayout.astro";
import { contentfulClient } from "@/lib/contentful";
import { type Account } from "@/shared/entities/account";
import type { IJson } from "@/shared/entities/IJson";
import { type User } from "@/shared/entities/user";
import { mapArrayToRecord } from "@/shared/utils/helpers/mapArrayToRecord";
import "@/styles/global.css";

const entries = await contentfulClient.getEntries<IJson>({
  content_type: "json",
});

const users = entries.items.filter((item) => item.fields.name === "users")[0].fields.json as unknown as User[];
const accounts = entries.items.filter((item) => item.fields.name === "accounts")[0].fields.json as unknown as Account[];
const accountsRecord = mapArrayToRecord(accounts, "id");
---

<BaseLayout>
  <main class="max-w-screen-xl flex flex-col justify-center gap-y-12 mx-auto">
    <!-- Filter -->
    <div class="w-full bg-gray-700">Fitler</div>
    <UserCardsGrid users={users} accountsRecord={accountsRecord} client:load />
  </main>
</BaseLayout>
