---
import BaseLayout from "@/components/templates/BaseLayout.astro";
import { checkAuth } from "@/shared/utils/auth";
import { SignOut } from "auth-astro/components";

const redirect = await checkAuth(Astro.request);
if (redirect) return redirect;
---

<BaseLayout>
  <p>Ruta protegida</p>
  <SignOut>Logout</SignOut>
</BaseLayout>
