---
import MainLayout from "@/components/templates/MainLayout.astro";
import MentorshipRequest from "@/components/page/MentoShipRequest/MentorshipRequest";
---

<MainLayout>
  <section class="flex flex-col gap-8 w-full">
    <MentorshipRequest client:load />
  </section>
</MainLayout>
