---
import MainLayout from "@/components/templates/MainLayout.astro";
import MentorshipRequest from "@/components/page/MentoShipRequest/MentorshipRequest";
---

<MainLayout>
  <main class="w-full max-w-7xl pt-8 pb-8 px-4 sm:px-6 lg:px-8">
    <section class="flex flex-col gap-4 w-full max-w-7xl">
      <MentorshipRequest client:load />
    </section>
  </main>
</MainLayout>
