<footer class="w-full mt-auto">
  <div class="flex p-20 items-center max-w-7xl mx-auto">
    <hr class="w-3/4 border-t-1 border-primary-purple-500" />
    <hr class="w-1/4 border-t-4 border-primary-purple-500" />
    <img class="ml-5" src="https://mapadecrecimiento.pragma.com.co/assets/images/Logo_By.svg" alt="Logo by Pragma" />
  </div>
</footer>
